* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.card__wrapper {
    width: 1200px;
    margin: 300px auto;
}

.card1 {

    width: 49%;
    vertical-align: middle;
    padding: 15px;
    display: inline-block;
}

.card1 h3 {
    color: slategray;

}

.card1 p {
    margin: 10px 0 10px 0;
    color: slategray;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.card1 button {
    background: none;
    width: 40%;
    border-radius: 20px;
    margin: 20px 0 0 10px;
    height: 40px;
    background-color: rgb(255, 183, 48);
    font-size: 18px;
    transition-duration: 0.5s;
}

.card1:active button {
    background-color: rgb(172, 116, 12);
}

.card1 h2 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0 10px 5px;
}

.card1 h4 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card2 {
    width: 49%;
    vertical-align: middle;
    display: inline-block;
}

.card2 img {
    width: 80%;
    margin: 15px 0 0 0;
}